.container {
  border: 3px solid black;
  padding: 100px;
  background-color: #f0f8ff;
}

.done {
  text-decoration: line-through;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.userInput {
  display: flex;
  flex-wrap: wrap;
}
